{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Mahsulot qo‘shish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>

<div class="card">
    <h2>🛒 Mahsulot qo‘shish</h2>

    <form id="productForm" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="form-group">
            <label>Mahsulot nomi</label>
            <input type="text" id="title" name="title" placeholder="Masalan: Telefon" required>
        </div>

        <div class="form-group">
            <label>Tavsif</label>
            <textarea id="description" rows="4" name="desc" placeholder="Mahsulot haqida"></textarea>
        </div>

        <div class="form-group">
        <label>Rasm</label>
        <input type="file" id="image" name="image" accept="image/*">
    </div>

        <div class="row">
            <div class="form-group">
                <label>Narxi</label>
                <input type="number" id="price" name="price" placeholder="0.00">
            </div>

            <div class="form-group">
                <label>Chegirma (%)</label>
                <input type="number" id="discount" name="discount" value="0">
            </div>
        </div>

        <div class="form-group">
            <label>Kategoriya</label>
            <select id="category" name="category">
                <option value="">Tanlang</option>
                {% for cat in categorys %}
                <option>{{cat.title}}</option>
                {% endfor %}
                
                
            </select>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="isActive" name="is_active" checked>
            <label for="isActive">Faol</label>
        </div>

        <button type="submit" class="btn">Saqlash</button>
    </form>
</div>



<script src="{% static 'css/form.js' %}"></script>
</body>
</html>
